:host {
  display: block;
}

.box {
  border-bottom: 1px dotted #888;
}

.image {
  padding: 0px;
  width: 64px;
  height: 64px;
  display: inline-block;
  vertical-align: top;
}

.peerimage {
  padding: 0px;
  width: 128px;
  height: 128px;
  display: table-cell;
  vertical-align: top;
}

  .peerimage img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    vertical-align: bottom;
  }

.cover {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.peer-info {
  position: relative;
}

.session-info {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  top: -110%;
  padding: 0.2rem 0.4rem;
  font-size: 12px;
  color: #444;
  background: linear-gradient(-30deg, rgba(240, 218, 189, 1.0), rgba(255, 244, 232, 1.0));
  border: solid 1px #999;
  border-left: solid 4px #555;
}

.peer-info:hover .session-info {
  visibility: visible;
}

.contain {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.room-list {
  font-size: 12px;
  border: 0;
  border-spacing: 0;
  padding: 0;
  /* ★モーダル幅の 80% を使って中央に配置 */
  width: 80%;
  max-width: 100%;
  white-space: nowrap;
  margin: 0 auto; /* ← 左右マージン auto で中央寄せ */
}

  /* セル内の文字は中央揃え＋余白 */
  .room-list > tr > * {
    padding: 1px 1em;
    text-align: center;
  }

.room-id {
  text-overflow: ellipsis;
  overflow: hidden;
}

.room-name {
  max-width: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
}

.room-name-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
}

.is-small-font {
  font-size: 10px;
}

.is-0-width {
  width: 0;
}
