<div id="app-table-layer" style="position: absolute; width: 100%; height: 100%; overflow: hidden;">
  <game-table></game-table>
</div>

<ui-panel [top]="0" [left]="0" [width]="100" [height]="550" [title]="'メニュー'" [showTitleButtons]="false">
  <nav>
    <ul>

      <li (click)="open('PeerMenuComponent')">
        <a routerLink="/" routerLinkActive="active">
          <div><i class="fas fa-user-plus"></i></div>
          <div>メニュー</div>
        </a>
      </li>

      <li (click)="openRaizanSettings()">
        <a>
          <div><i class="fa-brands fa-battle-net"></i></div>
          <div>ゲーム開始</div>
        </a>
      </li>

      <li>
        <a (click)="open('ChatWindowComponent')">
          <div class="menu-icon-with-badge">
            <div><i class="fas fa-comments"></i></div>
            <span *ngIf="unreadChatCount > 0" class="menu-badge">
              {{ unreadChatCount }}
            </span>
          </div>
          <div>チャット</div>
        </a>
      </li>

      <li>
        <a>
          <div><i class="fas fa-clipboard"></i></div>
          <div>結果報告</div>
        </a>
      </li>

      <!-- ★チェスクロック -->
      <li>
        <a>
          <div><i class="fas fa-hourglass-start"></i></div>
          <div>時計を操作する</div>
        </a>
      </li>

      <li *ngIf="isSpectator" (click)="onClickLeaveSpectator()">
        <a>
          <div><i class="far fa-eye"></i></div>
          <div>観戦中</div>
        </a>
      </li>
      <li *ngIf="!isSpectator" (click)="onClickBecomeSpectator()">
        <a>
          <div><i class="far fa-eye-slash"></i></div>
          <div>観戦する</div>
        </a>
      </li>

      <li (click)="open('')">
        <a href="https://raigonarium.velvet.jp/RediGames/rulebook/viewer/index.html" target="_blank">
          <div><i class="fas fa-book-open"></i></div>
          <div>ルールブック</div>
        </a>
      </li>

      <li (click)="open('JukeboxComponent')">
        <a routerLink="/" routerLinkActive="active">
          <div><i class="fas fa-volume-up"></i></div>
          <div>音量調整</div>
        </a>
      </li>

      <li>
        <a>
          <div><i class="fab fa-twitter"></i></div>
          <div>ポスト</div>
        </a>
      </li>
      <li>
        <a>
          <div><i class="fas fa-phone-alt"></i></div>
          <div>運営を呼ぶ</div>
        </a>
      </li>
    </ul>
  </nav>
</ui-panel>

<div #modalLayer></div>

<app-raizan-settings-modal *ngIf="showRaizanSettings"
                           [otonashiPieces]="otonashiPieces"
                           [kotodamaPieces]="kotodamaPieces"
                           [ougiPieces]="ougiPieces"
                           (save)="onraizanSettingsSave($event)"
                           (placeToTsuki)="onPlaceOugiToTsuki($event)"
                           (close)="closeRaizanSettings()"></app-raizan-settings-modal>

<network-indicator class="networkIndicator"></network-indicator>
